body{
    font: 15px/1.5em grey;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.header{
    width: 80%;
    background-color: rgb(75, 73, 73);
    margin: auto;
    padding: 30px;
    border-bottom: 5px solid blue;
}
.upper{
  
    float: right;
}
header .brandding h1{
    margin: 0px;
}



.brandding h1{
    color: #fff;
}
#menubar a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
#menubar ul{
    margin: 0;
    padding: 0;
}
#menubar ul li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
    
}
header .shit{
    color: rgb(223, 238, 88);
    font-weight: bold;
}
#menubar  a:hover{
    color: blanchedalmond;
    font-weight: lighter;
}



#showcase{
    min-height: 400px;
    background:url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/56/94/21579f4dc25a025.jpg")   30%;
    width: 80%;
    margin: auto;
    text-align: center;
    color: cornsilk;
    ;
}

#showcase h1{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 30px;

}
#showcase p{
    font-size: 20px;
    margin-top: 15px;
    }

.newsletter{
    padding: 15px;
    color: #fff;
    background-color: rgb(216, 170, 170);
    margin: auto;
    width: 80%;
}
.newsletter h1{
    float: left;
    color: rgb(104, 12, 179);
}
.newsletter form{
    float: right;
    margin-top: 15px;
}
.newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 280px;
}
.newsletter button[type="submit"]{
    background-color: rgb(241, 187, 10);
    color: #fff;
    padding: 0 20px;
    border: 0;
    height: 25px;
}

.newsletter button[type="submit"]:hover{
    color: rgb(11, 110, 190);
    background: rgb(192, 233, 8);
    cursor: pointer;
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    width: 30%;
    float: left;
    text-align: center;
    padding: 20px;
}
#boxes .box img{
    width: 100px;
}
#boxes .box h3{
    color: rgb(228, 6, 54);
}
footer{
    color: #fff;
    background-color: rgb(70, 65, 65);
    padding-top:8px;
    height: 40px;
    text-align: center;
    margin-bottom: 17px;
}

